.home_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: var(--max-width);
  padding: 0.875rem 0;
}
.home_container h1 {
  margin-bottom: 0.875rem;
  font-size: var(--text-xxxl);
  padding-top: 5rem;
}
.home_container span {
  color: var(--text-color-soft);
  margin-bottom: 2.25rem;
}
.links {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  width: 90%;
  text-align: center;
}
.social_area {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin: 1rem 0;
}
@media screen and (max-width: 500px) {
  .home_container h1 {
    font-size: var(--text-xxl);
    text-align: center;
  }
}
@media screen and (max-width: 320px) {
  .home_container h1 {
    font-size: var(--text-xl);
    text-align: center;
  }
}
